/*node .\src\server.js*/

body {background-color: #161c2c;
    cursor: url("/assets/icons/cursor/rszcursor.png"), auto;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#togglePathID.buttonDesign{
    background: transparent;
    margin-left: 0px;
    margin-top: 0px;
    border: none;
}

#toggleGrassID.buttonDesign{
    background: transparent;
}

#toggleWaterID.buttonDesign{
    background: transparent;
}

.slideContainer{
    transform: rotate(270deg); /* Drehung des containers */

}

/* The slider itself */
.slider {
    margin-top: 100%;
    margin-left: 35%;
    cursor: url("assets/icons/cursor/rszcursor.png"), auto;
    -webkit-appearance: none;
    width: 65%;
    height: 10px;
    border-radius: 5px; /* Rundheit der Kanten */
    background: #ffb564;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5b8299;
    cursor: url("assets/icons/cursor/rszpointer.png"), auto;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5b8299;
    cursor: url("assets/icons/cursor/rszpointer.png"), auto;
}

.buttonDesign {
    cursor: url("/assets/icons/cursor/rszpointer.png"), auto;

    background-color: #161c2c;
    color: white;
    padding: 10px 15px;
    border: none;
}

.buttonDesign:active{
    background-color: #f1f1f1;
}

.buttonDesignFocusTool {
    cursor: url("/assets/icons/cursor/rszpointer.png"), auto;

    background-color: #161c2c;
    color: white;
    padding: 10px 15px;
    border: none;
}

.buttonDesignFocusTool:focus{
    background-color: #f1f1f1;
}

.dobuttons{
    cursor: url("/assets/icons/cursor/rszpointer.png"), auto;
    background-color: #161c2c;
    color: white;
    padding: 10px 15px;
    border: none;
}

.dobuttons:disabled{
    background-color: #666666;
    color: #cccccc;
}
.buttonRightGroup{
    display: grid;
    grid-template-columns: 48% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap:0px;
}
.rightDiv1{
    grid-area: 1 / 1 / 2 / 2;

    margin-left: 5px;
}
.rightDiv2{
    grid-area: 1 / 2 / 2 / 3;
    align-items: start;
}

.buttonLeftGroup{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-auto-rows: auto;
    /*grid-column-gap: 5px;*/
    /*grid-row-gap: 0px;*/
}

.leftDiv1{
    grid-area: 1 / 1 / 2 / 2;
}
.leftDiv2{
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;

}
.leftDiv3{
    grid-area: 1 / 3 / 2 / 4;
}
.freeDrawingBrushes {

}
.tools{
    text-align: right;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #161c2c;
    gap: 16px;
}
/* { grid-area: x / y / z / v; }
x = Reihe, y = Spalte, z = Spanne/Breite, v = Höhe */

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

.img_cont {
    /*margin-top: 5%;*/
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
    justify-content: space-between;
}
.img{
    width: 200px;
    height: 200px;
    scale: 100%;
    margin: 4px;
}
.placeableObjectDiv{
    cursor: url("assets/icons/cursor/rszcursor.png"), auto;
    /*margin-left: 10px;*/
    background-color: #ffb564;
    border: 7px solid #cb8b46;
    overflow-y:scroll;
    overflow-x:hidden;
    height:700px;
    width: 250px;
}

.placeableObjectDiv::-webkit-scrollbar{
    background-color: #ffb564;
    cursor: url("assets/icons/cursor/rszpointer.png"), auto;
}

.canvas{
    cursor:  url("/src/assets/icons/cursor/rszcursor.png"), auto;
    border: 7px solid #ffb564;
}